.report-body{
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}
.report-titel{
    display: flex;
}
.report-titelFont{
    font-size: xx-large;
}
.report-reportboxHead{
    width: 100%;
    height: 168px;
    border: 1px solid #dddddd;
    background: #f3f3f3;
    margin-top: 20px;
    border-radius: 4px;
}
.report-reportboxTitel{
    width: 100%;
    height: 34px;
    border-bottom: 2px solid #dddddd;
    padding: 6px;
}
.report-reportboxNav{
    height: 93px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}


.report-reportboxBottom{
    width: 100%;
    height: 34px;
    border-top: 2px solid #dddddd;
    display: flex;
    justify-content: center;
}
.report-reportboxBottom button{
        background: #f3ce72;
        border:1px solid #000;
        border-radius: 4px;
        width: 65px;
        margin-top: 3px;
}
.report-reportboxdownload{
    width: 100%;
    height: 358px;
    margin-top:40px;
    border: 1px solid #dddddd;
}
.report-downloadHead{
    width: 100%;
    height: 38px;
    background: #f3f3f3;
    padding: 8px;
    border-bottom: 1px solid #dddddd;
}
.report-downloadTitel{
    width: 100%;
    height: 38px;
    background: #f3f3f3;
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    padding: 0 30px;
    display: flex;
}
.report-downloadTitel strong{
    width: 342px;
}
.report-downloadTitel strong:nth-child(6){
    width: 28px;
}

.report-downloadNav{
    width: 100%;
    height:31px ;
    display: flex;
    padding: 0 30px;
    border-bottom: 1px solid #dddddd;
}
.report-downloadNav div{
    width: 342px ;
}
.report-downloadNav div:nth-child(6){
width: 28px;
}

