.commodity-crumbs{
    color: #008296;
    font-size: 13px;
}
.ant-list-header{
    background-color: #fff!important;
}
.commodity-crumbs-icon{
    font-size: 13px;
}
.commodity-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #879596;
}
.commodity-type-box{
    font-size: 12px;
    display: flex;
    align-items: center;
}
.commodity-type{
    text-align: right;
    margin-right: 6px;
    color: #879596;
}
.commodity-select button{
    color: #002F36;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 2px #000;
    padding: 3px;
    background-color: #e3eced;
}
