.tab-logo-box{
    align-items: normal;
    border: none;
    background: #fff;
}
.tabs-box-change{
    width: 1024px;
    margin: 0 auto;
}
.tab-icon{
    font-size: 22px;
    margin: 0!important;
}
/* 间距*/
.ant-tabs-tab{
    padding: 12px 4px!important;
}
.ant-tabs-ink-bar{
    background-color: #002F36 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .-tab-btn{
    color: #002F36!important;
    font-weight: bold!important;
}
.tabs-waring{
    height: 58px;
    background-color: #faeaea;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.tabs-waring-icon{
font-size: 40px;
    margin-right: 10px;
}
.tabs-waring-error p{
    margin: 0;
    font-size: 12px;
}
.tabs-waring-error p:first-child{
    font-weight: bold;
}