*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
    margin: 0!important;
}
a{
    text-decoration: none;
}

input,select,button{
    outline: none;
}
.anticon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
html,body{
}
#root{
}